{
  // 使用babel-eslint支持草案2阶段特性，比如async/await等
  "parser": "babel-eslint",

  // 使用eslint-config-airbnb预定义规则
  "extends": "airbnb",

  // 添加全局函数和对象
  "globals": {
    "fetch": true,
    "navigator": true
  },

  /**
   * "off" 或 0 - 关闭规则
   * "warn" 或 1 - 开启规则，使用警告级别的错误：warn (不会导致程序退出),
   * "error" 或 2 - 开启规则，使用错误级别的错误：error (当被触发的时候，程序会退出)
   */
  "rules": {

    // 关闭规则，允许使用require
    "global-require": 0,

    // 关闭规则，允许jsx组件文件扩展名为js，因为扩展名jsx在react-native中报找不到模块
    "react/jsx-filename-extension": 0,

    // 关闭规则，因为此条规则会导致npm run lint崩溃,主要用于处理async/await
    "generator-star-spacing": 0,

    // 关闭规则，允许函数中的参数不被使用
    "no-unused-vars": 0,

    // 关闭规则，允许使用类方式创建无状态react组件
    "react/prefer-stateless-function": 0,

    // 关闭规则，允许关闭标签之前没有空格
    "react/jsx-space-before-closing": 0,

    // 关闭规则，允许不验证组件属性
    "react/prop-types": 0,

    // 关闭规则，忽略行结尾符
    "linebreak-style": 0
  }
}